@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

body {
    background-color: #fff;
    overflow: visible;
}

li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h3,
ul,
li,
p,
span {
    margin: 0;
    padding: 0;
}

ul {
    margin-left: 0;
    padding-left: 0;
}


.header__container {
    max-width: 1440px;
    margin: 0 70px;
}

.main__container {
    max-width: 1440px;
    margin: 0 197px;
}


.header__logo:hover path {
    fill: #FF685B;
    transition: 0.4s;
}


.header__separator {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0px;
    top: 79px;

    background: #000000;
}

.main__cards {
    display: flex;
    flex-direction: row;

    margin-top: 96px;
    margin-bottom: 256px;
}

.main__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 40px;

    position: static;
    width: 328px;
    height: 248px;

    /* light-background-color */

    background: #FFFFFF;
    /* accentued-drop-shadow */

    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

    box-sizing: border-box;
    margin-right: 30px;
}

.main__card:nth-last-child(1) {
    margin-right: 0;
}

.main__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    /* or 138% */

    letter-spacing: 0.2px;

    /* text-color */

    color: #252B42;

    max-width: 727px;

    margin: 0;
    margin-bottom: 35px;
}



.header__button-contact {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 0.2px;

    /* second-text-color */

    color: #737373;

    margin-right: 59px;

    background-color: #fff;
    border: none;
}

.header__button-contact:hover {
    color: #252B42;
    transition: 0.4s;
}

.header__button-login {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FF685B;

    padding: 8px 60px;
    background: #FFFFFF;
    border: 2px solid #FF685B;
    box-sizing: border-box;
    border-radius: 7px;
}

.header__button-login:hover {
    background-color: #FF685B;
    color: #fff;
    transition: 0.4s;
}

.main__button-input {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    text-align: center;
    letter-spacing: 0.2px;

    /* light-text-color */

    color: #FFFFFF;

    padding: 15px 40px;

    /* primary-color */

    background: #FF685B;
    border-radius: 5px;
    border: 1px solid #FF685B;


    margin-right: 10px;
}

.main__button-input:hover {
    opacity: 0.85;
    transition: 0.4s;
}

.main__button-contact {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    text-align: center;
    letter-spacing: 0.2px;

    color: #FF685B;

    padding: 15px 40px;

    background: #FFFFFF;
    border: 1px solid #FF685B;
    box-sizing: border-box;
    border-radius: 5px;
}

.main__button-contact:hover {
    color: #fff;
    background-color: #FF685B;
    transition: 0.4s;
}

.main__card__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.1px;

    /* text-color */

    color: #252B42;

    margin: 0;
    margin-top: 20px;
}

.main__card__separator {
    position: static;
    width: 50px;
    height: 2px;
    left: 40px;
    top: 171px;

    /* danger-color */

    background: #E74040;

    margin-top: 20px;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

.buttons__wrapper {
    display: flex;
}

.header {
    height: 79px;
}

.main {
    margin-top: 96px;
}

.main__card__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 0.2px;

    color: #737373;

    margin-top: 20px;
}





@media screen and (max-width: 1024px) {
    .main__cards {
        flex-wrap: wrap;
    }

    .main__card {
        margin-bottom: 30px;
    }

    .main__card:nth-last-child(1) {
        margin-bottom: 0;
    }
}


@media screen and (max-width: 426px) {

    .main {
        margin-top: 55px;
    }


    .header__container {
        margin: 0 10px;
    }

    .header__wrapper {
        margin-top: 20px;
    }

    .header__button-contact {
        margin-right: 10px;
    }

    .header__button-login {
        padding: 6px 20px;

        width: 106px;
        height: 36px;
    }

    .main__container {
        margin: 0 10px;
    }

    .main__title {
        font-size: 28px;
        line-height: 39px;
    }


    .main__cards {
        margin-top: 29px;
        margin-left: 24px;
    }


}

.button {
    cursor: pointer;
}






















/*new model*/

.overlay {

    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}


/* Стили для модальных окон */

.modal {

    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;


    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 500px;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    /* Должен быть выше чем у подложки*/

    /*  Побочные стили   */
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}


/* Стили для кнопки закрытия */

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}

.modal__form__input {
    width: 100%;
    height: 56px;

    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 24px;
    border: 1px solid #252B42;
    cursor: pointer;

    margin-top: 5px;
}

.modal__form__input:hover::placeholder {
    color: rgba(33, 36, 46, 0.8);
    transition: 0.4s;
}

.modal__form__input::placeholder {
    color: rgba(33, 36, 46, 0.4);
}

.modal__form__input:active::placeholder {
    color: rgba(33, 36, 46, 0.8);
}

.modal__form__input:focus::placeholder {
    color: rgba(33, 36, 46, 0.8);
}

.modal__form__input:focus {
    border-color: #FF685B;
    color: rgba(33, 36, 46, 0.8);
}

.modal__form__lable {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.1px;

    /* text-color */

    color: #252B42;

}

.modal__button {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FF685B;

    padding: 8px 60px;
    background: #FFFFFF;
    border: 2px solid #FF685B;
    box-sizing: border-box;
    border-radius: 7px;

    cursor: pointer;
}

.modal__button:hover {
    background-color: #FF685B;
    color: #fff;
    transition: 0.4s;
}

.modal__button__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__button__link {
    display: flex;
}

.login {
    margin-top: 40px;
}
